@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --grid-width: 30px;
  --grid-height: 30px;

}


html, body {
  font-family: "Instrument Sans", sans-serif !important;
  font-optical-sizing: auto;
  overscroll-behavior-x: none;
}
.small-screen-message {
  display: none;
}


@media (max-width: 1200px) {
  .app-content {
    display: none !important;
  }
  .small-screen-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100vw;
    height: 100vh;
    color: #3c41c2;
    padding: 30px;
    font-size: 3vw;
    transition: all 0.3s ease-in-out;
    text-align: center;
  }
  .small-screen-message > 
  .emoji {
    font-size: 3em;
    margin-bottom: 15px;
  }
}

body {
  background-color: #FAFBFC;
 
  /* color: #99cbf7f7; */
} 

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color:rgba(0, 102, 68, 0.1);
}
 
 

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  /* background-color: black; */
  border-radius: 7px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 102, 68, 0.8);
  border-radius: 7px;

  
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 102, 68, 1);
}

.logo-text {
  font-family: "Alumni Sans", sans-serif !important;
  color: #16191C;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}


.hero-text {
  line-height: 58px;
}


.font-size-default {
  font-size: clamp(0.7vw, 1rem, 4vw);
}


.font-inter {
  font-family: "Inter", sans-serif;
}
.landing-page-main {
  height: clamp(40rem, 100vh, 50rem);
}

.canvas-bg {
  background-position: 0 0;
  background-color: #F9FAFC;
  background-repeat: repeat;
}

/* .small-grid-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size: 32px 32px;
  background-color: transparent;
}
.large-grid-bg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px);
  background-size: 96px 96px;
  background-color: transparent;
} */

.grid-bg {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
  linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size:
      90px 90px,
      90px 90px,
      30px 30px,
      30px 30px;
 
  background-color: transparent;
}
@media (min-width: 1300px){
  .grid-bg {
    background-size:
      120px 120px,
      120px 120px,
      40px 40px,
      40px 40px;  
  }
}

@media (min-width: 1440px) {
  .hero-text {
    line-height: 83px !important;
  }
   .logo-text {
    font-size: 24px;
  }

}


.project-flowsheet-preview-grid {
  background-image:
  linear-gradient(rgba(0, 0, 0, 0.2) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.2) 1px, transparent 1px),
  linear-gradient(rgba(0, 0, 0, 0.1) 1px, transparent 1px),
  linear-gradient(90deg, rgba(0, 0, 0, 0.1) 1px, transparent 1px);
  background-size:
    90px 90px,
    90px 90px,
    30px 30px,
    30px 30px;
  background-color: transparent;
}
.mini-grid-size {
  background-size:
    60px 60px,
    60px 60px,
    20px 20px,
    20px 20px;
}

.bg-auth-image {
  background: linear-gradient(144deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.40) 100%), url('../assets/auth-page-image.jpeg') lightgray -738.428px 0px / 194.891% 100% no-repeat;
  background-position: 0 0 ;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


@media (min-width: 2000px) {
  .font-size-default {
    padding: 1rem;
  }

}
.objects {
  z-index: 2;
}
.line-z-index {
  z-index: 3;
}

.text-z-index {
  z-index: 8!important;
}

.current-object {
  z-index: 7;
}
.object-hover {
  z-index: 9;
}

.placeholder-style:after {
  content: attr(data-placeholder);
  color: rgb(158, 155, 155);
}

.shape-text-base-styles {
  min-width: 3rem;
  max-width: 10rem;
  /* font-size: 0.8rem; dynamic value */
  line-height: 1;
  padding: 0.2rem 0.1rem;
  outline: none;
  min-height: 1.3rem;
  display: inline-block;
  color: #4D4D4D;
}


/* Styles for styling the text in the text box */
.text-control-panel {
  position: absolute;
  bottom: 120%;
  display: none;
  justify-content: space-between;
  gap: 2rem;
  padding: 0.75rem 1.5rem;
  background-color: #FFFFFF;
  border-top: 1px solid #DFE1E6;
  border-radius: 0.2rem;
  box-shadow: 0px 4px 8px 0px #00000029;
  font-size: 0.8rem;
  color: #17181A;
  font-weight: 500;

}
.text-control-panel-show {
  display:flex;
}
.text-size-control {
  display: flex;
  gap: 4px;
  align-items: center;
  position: relative;
}
.panel-split {
  border: 1px solid #CAD8E5;
}

.text-control-panel .text-size-control-options {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 180%;
  left: -50%;
  background-color:white;
  box-shadow: 0px 4px 8px 0px #00000029;
  border-radius: 0.2rem;
  display:flex;
  flex-direction: column;
}
.text-size-control-options-show {
  visibility: visible !important;
  opacity: 1 !important;
  transition: opacity 0.5s ease-in-out;
}
.open-control-options {
  cursor: pointer;
}
.text-size-control-options span {
  display: inline-block;
  padding: 0.7rem 1.25rem;
  cursor:pointer;
  
}
.text-size-control-options span:hover {
  background-color: #CAD8E5;
}
.text-style-control {
  display: flex;
  gap: 1.5rem;
}


.text-selected {
  background-color:#F4F5F7 ;
}




/* Styles for highlighting the text box when focused on */
.text-panel, .resize-panel {
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  background-color: #006644;
  display: none
}

.text-panel-show, .resize-panel-show {
  display: inline-block;
}
.text-panel-tl, .resize-panel-tl {
  top: 0;
  transform: translate(-4px, -4px);
}
.text-panel-tr, .resize-panel-tr {
  top: 0;
  left: 100%;
  transform: translate(-4px, -4px);
}
.text-panel-br, .resize-panel-br {
  left: 100%;
  top: 100%;
  transform: translate(-4px, -4px);
}
.text-panel-bl, .resize-panel-bl {
  top: 100%;
  transform: translate(-4px, -4px);
}




/* element resize  */
 .resize-panel-bl, .resize-panel-tr {
  cursor: nesw-resize
 }

 .resize-panel-br, .resize-panel-tl {
  cursor: nwse-resize;
 }




.point-indicators {
  display: inline-block;
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: #006644;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in;
  z-index: 2;
}
/* .arrow-wrapper {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position:relative;
  overflow: visible;
  background-color: black;
} */

.arrow-indicator {
  display: inline-block;
  position: absolute;
  transform-origin: 10px 20px;
  transform: translate(-50%, -100%);
  background-color: transparent;
  overflow: visible;
  /* border:1px solid black; */
  
}


.show-tooltip {
  visibility: visible;
}


.hide-tooltip {
  visibility: hidden;
}


.hide-indicator {
  visibility: hidden;
}


.object-form {
  font-size: attr(data-position-top);
  box-shadow: -8px 8px 16px 0px #00000014;

}


.object-details-tooltip {
  position: absolute;
  padding: 1rem;
  white-space: nowrap;
  background-color: white;
  display: flex;
  flex-direction: column;
  scale: 1 !important;
  gap: 0.4rem;
  border-radius: 2px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  z-index: 8;
}
.object-details-tooltip > div {
  padding: 0.25rem;
  padding-top: 0;
  gap: 0.4rem;
}


.object-details-tooltip  p {
  font-size: 0.7rem;
}


.hide-components {
  height: 0;
  transition: height 0.5s;
}

.flowsheet-preview-wrapper, .project-preview-wrapper {
  position:relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-preview-wrapper {
  width: 50vw;
}