@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f0f8ff;
  /* color: #99cbf7f7; */
}
.font-size-default {
  font-size: clamp(0.7vw, 1rem, 4vw);
}
.landing-page-main {
  height: clamp(50rem, 70vh, 200rem)
}
@media (min-width: 2000px) {
  .font-size-default {
    padding: 1rem;
  }

}

.placeholder-style:after {
  content: attr(data-placeholder);
  color: rgb(158, 155, 155);
}

.shape-text-base-styles {
  min-width: 5rem;
  max-width: 10rem;
  font-size: 0.9rem;
  line-height: 1;
  padding: 0.2rem 0.1rem;
  outline: none;
  min-height: 1.5rem;
  display: inline-block;
}

.point-indicators {
  display: inline-block;
  position: absolute;
  height: 0.6rem;
  width: 0.6rem;
  border-radius: 50%;
  background-color: red;
  transform: translate(-50%, -50%);
  transition: transform 0.4s ease-in;
}
.hide-indicator {
  visibility: hidden;
}
.object-form {
  font-size: attr(data-position-top)
}